.cabecalho {
    background: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;

    @media(min-width: $breakpoint-md) {
        min-height: 100px;
        .logo {
            float: left;
            margin-top: 8.5px;
        }
        
        .menu-principal {
            float: right;
            margin-top: 12px;
            &__lista {
                margin-bottom: 0;
            }
        }
    }
}