.pagina-conteudo{
    padding: 25px 15px;
    overflow: auto;

    p{
        color: $cor-leitura;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: $breakpoint-md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
